<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hospi</title>


</head>

<body>

  {% include "hospital/navbar.html" %}
  <br><br>

  <center>
  </br></br></br>

    <form method="POST">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
       
          <table>
        {{ form.as_table }}
      </table>
        </div>
        </p>
        <br>
        <input type="submit" value="Submit" class='btn btn-danger btn-lg'>
      </div>
    </form>
  </center>
</body>
</html>
