{% include "hospital/navbar.html" %}
{% block content %}
</br></br>
<center>
	<style>
    h1 { color: #FF0000; }
  </style>
  </br></br>
	<h1> How can we help you? </h1>
	<div class="p-5">
 <button class="btn btn-outline-warning"><a href="#" class="nav-item nav-link text-danger" >Nearby Hospitals</a></button>
</div>
 <button class="btn btn-outline-warning"><a href="#" class="nav-item nav-link text-danger">Blood Bank</a></button>
 <div class="p-5">
 <button class="btn btn-outline-warning"><a href="#" class="nav-item nav-link text-danger">Ambulance</a></button>
 <div class="p-5">
  <button class="btn btn-outline-warning"><a href="#" class="nav-item nav-link text-danger">Medical Support</a></button>
  </div>
</div>
</center>

 {%endblock content%}